@color-blue: #008ed6;
@color-bg-grey: #f2f2f2;
@color-text-grey: #999999;
@color-bg-black: #15141a;
@color-text-black: #1a1a1a; 
@color-border-grey: #e0e0e0;

.max-width-style() {
    max-width: 1440px;
    min-width: 500px;
    margin: 0 auto;
}
.link-style() {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.button-style() {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid @color-text-grey;
}
.button-blue() {
    background-color: @color-blue;
    border: 1px solid @color-blue;
}
.button-white() {
    background-color: @color-bg-black;
    border: 1px solid @color-text-grey;
}
.border-style() {
    border-bottom: 1px solid @color-border-grey ;
}
.two-line-left() {
    padding: 15px 0 30px;
    background: url(images/line.png) no-repeat left bottom;
}
.two-line-center() {
    background: url(images/line.png) no-repeat center bottom;
    padding: 15px 0 30px;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 500px;
}
h1 {
    color: white;
    font-weight: 600;
    font-size: 48px;
}
h2 {
    font-size: 36px;
    font-weight: 500;
}
h3 {
    font-size: 24px;
    font-weight: 500;
}
h4 {
    font-size: 18px;
    font-weight: 200;
    color: @color-text-grey;
}
h5 {
    font-weight: normal;
    font-size: 16px;
}
h6 {
    font-size: 14px;
    color: @color-blue;
    font-weight: 700;
    text-transform: uppercase;
}

.wrapper-one {
    .max-width-style();
    height: 640px;
    background: url(images/block1-bg.jpg) no-repeat center center;
    .header {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__logo {
            margin-left: 130px;
            width: 120px;
            height: 30px;
            background: url(images/logo.png) no-repeat left center;
        }
        .header__menu {
            margin-right: 130px;
            width: auto;
            height: 70px;
            .nav {
                padding-top: 20px;
                line-height: 30px;
                margin: 0;
                a {
                    .link-style();
                    margin-right: 25px;
                }
                .last {
                    margin: 0;
                }
                a {
                    position: relative;
                }
                a:after {
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: @color-blue;
                    content: "";
                    transition: width 0.3s ease-out;
                }
                a:hover:after,
                a:focus:after {
                    width: 100%; 
                }
            }
        }
    }
    .content {
        max-width: 500px;
        height: auto;
        margin: 100px 130px 0;
        .content__text {
            .main {
                margin: 10px 0;
            }
            .description {
                margin-bottom: 65px;
            }
        }
        .content__button {
            .left {
                .link-style();
                .button-style();
                margin-right: 10px;
            }  
            .left:hover {
                transition: 0.2s ease-out;
                .button-blue();
            }
            .right {
                .link-style();
                .button-style();
            }
            .right:hover {
                transition: 0.2s ease-out;
                .button-blue();
            }  
        }
    }
}
.wrapper-two {
    .max-width-style();
    height: auto;
    .border-style();
    .main-text {
        .two-line-center();
        margin-top: 60px;
        text-align: center;
        .main-text__top {
            margin-bottom: 20px;
        }
    }
    .main-content {
        display: flex;
        flex-wrap: nowrap;
        margin: 70px 130px;
        .advantages {
            flex: 0 0 240px;
            text-align: center;
            height: auto;
            padding: 0 10px;
            p {
                display: inline-block;
                height: 90px;
                width: 90px;
                border: 1px solid @color-text-grey;
                border-radius: 50%;
               i {
                   line-height: 90px;
                   color: @color-blue;
               } 
            }
            h4 {
                padding: 5px;
            }
            .advantages__icon {
                margin-bottom: 30px;
            }
            .advantages__txt {
                margin-bottom: 10px;
            }
        }
    }
}
.wrapper-three {
    .max-width-style();
    height: 700px;
    display: flex;
    align-items: center;
    .main-image {
        margin-left: 150px;
    }
    .main-text {
        margin-left: 100px;
        height: auto;
        width: 485px;
        .main-text__bottom {
            .two-line-left(); 
            margin-bottom: 30px;
        }
        .main-text__description {
            font-weight: 400;
            color: black;
            padding-bottom: 7px;
            i {
                display: inline-block;
                width: 20px;
                color: @color-blue;
                text-align: center;
                margin-right: 10px;
            }

        }
        .one {
            margin-top: 30px;
        }
    }
}
.wrapper-four {
    .max-width-style();
    height: 545px;
    background: url(./images/iPhone.png) no-repeat 98% center;
    background-color: @color-bg-grey;
    display: flex;
    align-items: center;
    .main-text {
        margin-left: 150px;
        padding-right: 20px;
        flex-basis: 400px;
        .main-text__bottom {
            .two-line-left();
            margin-bottom: 30px;
        }
    }
}
.wrapper-five {
    .max-width-style();
    height: 600px;
    background: url(images/block5-bg.jpg) no-repeat center center;
    .main-text {
        text-align: center;
        padding-top: 50px;
        color: white;
        .main-text__bottom {
            .two-line-center();
            margin-bottom: 100px;
        }
    }
    .main-content {
        margin: 0 130px;
        color: white;
        display: flex;
        .commentary {
            .commentary__text {
                margin-bottom: 30px;
                h3 {
                    font-weight: 200;
                }
            }
            .commentary__user {
                img {
                    border-radius: 50%;
                    display: inline;
                }
                .name {
                    font-size: 14px;
                    font-weight: 200;
                    position: relative;
                    left: 80px;
                    top: -50px;
                }
                .company {
                    position: relative;
                    left: 80px;
                    top: -45px;
                }
            }
        }
    }
}
.wrapper-six {
    .max-width-style();
    height: auto;
    background-color: @color-bg-black;
    h2 {
        font-size: 32px;
        display: inline-block;
        line-height: 170px;
        margin: 0 100px 0 130px;
        color: white;
       span {
           font-weight: 200;
       } 
    }
    .wrapper-six__btn-left {
        .link-style();
        .button-style();
    }
    .wrapper-six__btn-left:hover {
        .button-blue();
        transition: 0.2s ease-out;
    } 
    .wrapper-six__btn-right {
        .link-style();
        .button-style();
    }  
    .wrapper-six__btn-right:hover {
        .button-blue();
        transition: 0.2s ease-out;
    }
}
.wrapper-seven {
    .max-width-style();
    height: 780px;
    .main-text {
        text-align: center;
        .two-line-center();
        margin: 60px 0 70px;
    }
    .main-content {
        display: flex;
        justify-content: space-around;
        .card {
            width: 275px;
            height: 490px;
            border: 1px solid @color-border-grey;
            text-align: center;
            h3 {
                line-height: 70px;
                .border-style();
            }
            .card__price {
                height: 150px;
                .border-style();
                p {
                    font-size: 36px;
                    padding-top: 45px;
                    i {
                        font-size: 18px;
                        position: relative;
                        top: -10px;
                    }
                    span {
                        display: block;
                        font-size: 18px;
                        color: @color-text-grey;
                    }
                }

            }
            .card__btn {
                height: 270px;
                h4 {
                    padding: 50px 30px;
                    span {
                        color: @color-blue;
                        font-weight: 500;
                    }
                }
                .button {
                    .link-style();
                    color: @color-blue;
                    font-weight: 600;
                    font-size: 14px;
                    text-transform: uppercase;
                    border: 1px solid @color-border-grey;
                    padding: 20px 40px;

                }
            }
        }
        .card:hover {
            h3 {
                color: @color-blue;
            }
            .card__price {
                background-color: @color-blue;
                p {
                    color: white;
                    span {
                        color: white;
                    }
                }
            }
            .card__btn {
                a {
                    background-color: @color-blue;
                    color: white;
                }
            }
        }
    }

}
.wrapper-eight {
    height: 700px;
    .max-width-style();
    background-color: @color-bg-grey;
    padding-top: 1px;
    text-align: center;
    .main-text {
        .two-line-center();
        margin: 50px 0;
    }
    .contact {
        display: flex;
        justify-content: space-around;
        .contact__block {
            width: 200px;
            height: auto;
            .icon {
                margin-bottom: 30px;
                i {
                    color: @color-blue;
                }
            }
        }
    }   
    .form {
        width: 770px;
        height: 350px;
        background-color: @color-bg-black;
        position: relative;
        top: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .form__text {
            flex:  0 0 300px;
            margin-top: -50px;
            .left  {
                margin: 0;
                width: 300px;
                height: 50px;
                padding-left: 20px;
                margin-bottom: 20px;
                border-radius: 5px;
                text-transform: uppercase;
                border: 1px solid @color-text-grey;
                background-color: @color-bg-black;
            }
        }
        .form__message {
            flex:  0 0 300px;
            .right {
                text-transform: uppercase;
                margin: 0;
                width: 300px;
                height: 199px;
                margin: 0 0 20px 0;
                padding-left: 20px;
                border: 1px solid @color-text-grey;
                border-radius: 5px;
                background-color: @color-bg-black;
            }
            .button {
                margin: 0 0 0 162px;
                width: 160px;
                height: 50px;
                display: block;
                font-size: 14px;
                text-transform: uppercase;
                color: white;
                border-radius: 5px;
                .link-style();
                background-color: @color-bg-black;
                border: 1px solid @color-text-grey;
                font-weight: 500;
            }
            .button:hover {
                transition: 0.1s ease-out;
                .button-blue();
            }
        }
    } 
}
.wrapper-nine {
    .max-width-style();
    height: 370px;
    background: url(images/map-bg.jpg) no-repeat center center;
}

@media only screen and (max-width : 1200px) {
    .wrapper-two {
        .main-text {
            margin-top: 35px;
        }
        .main-content {
            flex-wrap: wrap;
            justify-content: center;
            .advantages {
                margin-bottom: 30px;
            }
        }
    }
    .wrapper-three {
        .main-image {
            margin-left: 5px;
        }
        .main-text {
            margin-right: 10px;
        }
    }
    .wrapper-four {
        background-blend-mode: soft-light;
        background-position: center center;
        .main-text {
            flex-basis: auto;
            margin: 0 40px;
        }
    }
    .wrapper-five {
        .main-text {
            .main-text__bottom {
                margin-bottom: 25px;
            }
        }
        .main-content {
            .commentary {
                margin: 0 15px;
            }
        }
    }
    .wrapper-six {
        h2 {
            margin: 0 20px;
        }
    }
}
@media only screen and (max-width : 970px) {
    .wrapper-six {
        text-align: center;
        h2 {
            display: block;
            line-height: 130px;
        }
        .wrapper-six__btn-left, .wrapper-six__btn-right {
            margin-top: -10px;
            display: inline-block;
            margin-bottom: 30px;
        }

    }
    .wrapper-seven {
        height: auto;
        .main-text {
            margin: 35px 0;
        }
        .main-content {
            flex-wrap: wrap;
            margin-bottom: 40px;
            .card {
                margin: 10px 0;
            }
        }
    }
    
}
@media only screen and (max-width : 870px) {
    .wrapper-one {
        .header {
            .header__menu {
                nav {
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width : 790px) {
    .wrapper-one {
        .header {
            .header__logo {
                margin-left: 40px;
            }
        }
        .content {
            margin: 70px 0 10px 40px;
        }
    }
    .wrapper-two {
        .main-content {
            .advantages {
                flex: 0 0 400px;
            }
        }
    }
    .wrapper-three {
        height: auto;
        .main-image {
            display: none;
        }
        .main-text {
            width: 100%;
            margin: 50px;
            text-align: center;
            .main-text__bottom {
                .two-line-center();
            }
        }
    }
    .wrapper-five {
        height: auto;
        background-size: cover;
        .main-content {
            margin: 0 30px;
            flex-wrap: wrap;
            .commentary {
                .commentary__text {
                    h3 {
                        font-size: 20px;
                    }
                }
                .commentary__user {
                    max-width: 300px;
                    h5 {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .wrapper-six {
        h2 {
            padding: 25px 0;
            line-height: 40px;
        }
    }
    .wrapper-eight {
        .main-text {
            margin: 30px 0;
        }
        .contact {
            margin-bottom: 30px;
            flex-wrap: wrap;
            .contact__block {
                margin-bottom: 20px;
            }
        }
        .message {
            .form {
                display: block;
                height: auto;
                padding-bottom: 20px;
                width: 100%;
                .form__text {
                    padding-top: 20px;
                    input {
                        display: block;
                        margin: 10px auto;
                    }
                }
                .form__message {
                    input {
                        display: block;
                        margin: 10px auto;
                    }
                }

            }
        }
    }
}



